.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  background-color: rgb(19, 19, 19);
  color: cornflowerblue;
  padding-left: 50px;
  font-size: 25px;
}
@media screen and (max-width: 800px) {
  .navbar {
    width: 120%;
  }
}
@media screen and (max-width: 600px) {
  .anime img {
    width: 120%;
  }
}
